@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{

	/* Primary Text */

	--very-dark-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* Background Gradient */

	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	/* Neutral Text */

	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);

	/* Dividers */

	--light-grayish-blue: hsl(240, 5%, 91%);

}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
}

html{

	background: linear-gradient(var(--soft-violet), var(--soft-blue));
	background-repeat: repeat; 
	width: 100%;
	height: auto;
}

body{

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 12px;

}

.container{

	margin: 150px 7%;
}

.card{

	background-color: #fff;
	border-radius: 30px;
	width: 27em;
	height: auto;
	padding-bottom: 30px;
}


.card-image{

	display: flex;
	justify-content: center;
	align-items: center;

	
}

.card-image img{

	position: absolute;
	padding: 0 0 30px 0;
	display: block;
	z-index: 0;
	width:220px;
	filter: drop-shadow(0px 30px 0px hsl(240, 5%, 91%));

}

.card-title{
	display: flex;
	justify-content: center;
	margin: 120px 0 30px 0;
}

.card-title h1{

	font-size: 2.5em;
	color: var(--very-dark-blue);
}

.card-item{

	padding: 10px 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


.card-item .card-question{

	color: var(--very-dark-grayish-blue);
	cursor: pointer;
	
}

.card-item .card-question.active{

	font-weight: 700;


}

.card-item .icon-arrow.active{
	transform: rotate(180deg);
	

}

.card-item .card-answer{

	color: var(--dark-grayish-blue);
	display: none;

}

.card-item .card-answer.active{

	display: block;
}

.card-item hr{

	margin-top: 15px;
	width: 100%;
	height: 1px;
	background-color: var(--light-grayish-blue);
	border:none;

}